<!DOCTYPE html>
<html lang="en">

<div style="background-color:#C70039;color:white;padding:20px;font-family:verdana;text-align:center;">
  <h2>Youtube API Demo</h2>
  <p>This is a simple demo showing a call to the youtube API then displaying the results.</p>

  Search:<br>

    <form class="form" action="{{ url_for('index') }}" method="POST">
        <input type="text" name="query" placeholder="Search" />
        <input type="submit" value="Search" />
    </form>
  </div>

</div>

<div style="background-color:#900C3F;color:white;padding:20px;font-family:verdana;">
<h2>Results</h2>
  {% for links, picture in content %}
      <a href={{ links }} target="_blank"><img src={{ picture }} alt={{ links }}></a>
  {% endfor %}
</div>

</html>