<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>New Page</title>
    <!-- Main CSS sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
   <h1> Listing Playlist Data for User {{ username }} </h1>

    <form action="#" method="POST">
        <button name="newpage" value="newpage">New Page</button>
    </form>

    <!-- <input type="submit" name="submit_button" value="Do Something"> -->

    <h1>Playlists</h1>
    {% for title, link in datapass %}
        <h2>Playlist Name: {{ title }}</h2>
        <form action="#" method="POST">
            <button name="newpage" value="{{ title }}">Create Playlist</button>
        </form>
        <img src={{ link }}>
        <hr>
    {% endfor %}

</body>

</html>