<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Youtube Login</title>
    <!-- Main CSS sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/youtube_login.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="centered">
        <h1> Youtube </h1>

        <form action="#" method="POST">
            <button class="button" name="youtube" value="youtube">Login</button>
        </form>
    </div>

    <!-- <input type="submit" name="submit_button" value="Do Something"> -->

</body>

</html>